body{
	background:#393939;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:100%;
	color:#444444;
	margin:0;
	padding:0;
}

.page-body{
	background-image:linear-gradient(to bottom, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-webkit-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-o-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-ms-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-moz-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B7B7B', endColorstr='#2B2B2B');
	zoom: 1;
	width:100%;
	align:center;
}

.main {
	width:960px;
	display: inline-block;
}

ul{
	margin:0;
	padding:0;
}

li{
	display: inline;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Arial,Helvetica,sans-serif;
	font-weight:400;
	margin:0 0 5px;
	padding:0;
}

h1{
	line-height:100%;
	font-size:150%;
	color:#585770;
	height: 17px;
}

h2{
	font-weight:700;
	line-height:100%;
	font-size:130%;
	color:#64646E;
}

h3{
	font-size:100%;
	line-height:100%;
	color:#646478;
}

h4{
	line-height:100%;
	font-size:175%;
	color:#585770;
}

h5{
	font-size:85%;
	font-weight:400;
	line-height:125%;
	color:#878796;
}

h6{
	font-weight:700;
	font-size:125%;
	line-height:125%;
	color:#585770;
}