body{
	background:#393939;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:100%;
	color:#444444;
	margin:0;
	padding:0;
}

.page-body{
	background-image:linear-gradient(to bottom, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-webkit-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-o-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-ms-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-moz-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B7B7B', endColorstr='#2B2B2B');
	zoom: 1;
	width:100%;
	align:center;
}

.main {
	width:960px;
	min-height: 960px;
}

ul{
	margin:0;
	padding:0;
}

li{
	display: inline;
}

h1, h2, h3 {
	font-family:Arial,Helvetica,sans-serif;
	font-weight:400;
	margin:0 0 5px;
	padding:0;
}

h1{
	line-height:150%;
	font-size:32px;
	color:#585770;
	font-weight: bold;
	text-align: center;
	height: 25px;
}

h2{
	font-size:125%;
	line-height:125%;
	color:#585770;
	font-weight: bold;
	text-align: center;
	height: 22px;
}

h3{
	font-size:100%;
	line-height:100%;
	color:#585770;
	font-weight: bold;
	text-align: center;
	height: 19px;
}

.header{
	position:relative;
	width:100%;
	height:85px;
	clear:both;
	background-color: #111212;
	background-image: linear-gradient(to top, #6b6b6b, #4b8c43);
	background-image: -webkit-linear-gradient(bottom, #6b6b6b, #4b8c43);
	background-image: -o-linear-gradient(bottom, #6b6b6b, #4b8c43);
	background-image: -ms-linear-gradient(bottom, #6b6b6b, #4b8c43);
	background-image: -moz-linear-gradient(bottom, #6b6b6b, #4b8c43);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b8c43', endColorstr='#6b6b6b');
	zoom: 1;
	color:#969696;
	overflow:hidden;
	border-radius: 0px 0px 7px 7px;
	float: left;
}

.home_image {
  color: #FFFFFF;
  margin-left: 40px;
  margin-top: 20px;
  line-height: 100%;
  float: left;
  display: block;
  height: 35px;
  width: 58px;
  background: url(./data/images/home-icon.png) 0px 0px no-repeat;
}


.page-title{
	float: left;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 15px;
}

.page-title, .phones-text{
  text-shadow: 0 0 1px #fff, 0 0 7px #228DFF, 0 0 12px #228DFF;
	transition:0.8s ease-out;
}

.page-title:hover, .phones-text:hover {
	color:#E7FF00;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF9900, 0 0 40px #FF9900;
  transition:0.2s ease-out;
}
.phones{
    line-height: 160%;
    margin: auto;
    font-size: 24px;
    color: #FFFFFF;
    float: left;
    width: 300px;
    margin-top: 3px;
    margin-left: 82px;
}
.phones-text{
	float: left;
	margin-left: 60px;
}
.logo{
	display: block;
  float: left;
  width: 490px;
  height: 85px;
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
}

.logo-text-big {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
}

.logo-text-big{
  font-size: 48px;
  color: #FFFFFF;
  margin-top: 28px;
  margin-left: auto;
  font-style: italic;
  margin-bottom: 19px;
  float: left;
}
.logo-text-big:hover{
	transition:0.2s ease-out;
}

.logo-text-small{
	font-size: 24px;
  color: #FFFFFF;
  margin-top: 7px;
  line-height: 100%;
  margin-left: 35px;
  float: left;
}

.plain-text{
	line-height: 115%;
	font-size: 12pt;
	text-align: left;
}

.ltr-text {
	direction: ltr; 
	padding: 10px; 
	text-align: right;
  font-size: 16px;
  line-height: 120%;
}