.header{
	position:relative;
	width:auto;
	height:85px;
	clear:both;
	background-color: #111212;
	background-image: linear-gradient(to top, #454545, #6F6E6E);
	background-image: -webkit-linear-gradient(bottom, #454545, #6F6E6E);
	background-image: -o-linear-gradient(bottom, #454545, #6F6E6E);
	background-image: -ms-linear-gradient(bottom, #454545, #6F6E6E);
	background-image: -moz-linear-gradient(bottom, #454545, #6F6E6E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F6E6E', endColorstr='#454545');
	zoom: 1;
	color:#969696;
	overflow:hidden;
	padding:0px 0px 0px 0px;
}

.page-title{
	float: left;
	width: auto;
	height: 21px;
	overflow: hidden;
	font-size: 19px;
	text-align: center;
	padding-top: 15px;
	color: #E7FF00;
	margin-left: 10px;
	font-weight: bold;
}
.phones{
	padding-right: 25px;
	line-height: 160%;
	margin: auto;
	font-size:18px; 
	color:#FFFFFF;
	float:left;
	width:auto;
	margin-top: 10px;
}
.phones-text{
	float: left;
	margin-left: 20px;
}
.logo{
	display: block;
	float:left;
	width:327px;
	height:85px;
	margin-top:10px;
	padding-right:85px;
}
.logo-text-big{
	font-size:48px;
	color:#FFFFFF;
	margin-top: 15px;
	margin-left: auto;
	font-style:italic;
}
.logo-text-small{
	font-size:17px;
	color:#FFFFFF;
	margin-top: 20px;
	margin-left: auto;
}