.img-thumbs li {
    cursor: pointer;
}

.bigimg {
    background-color: white;
    display: none;
    float: left;
    margin-bottom: 1em;
    border: 1px solid #bababa;
    border-radius: 10px;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.selected{
	display: block;
}

.carousel {
    border: 1px solid #bababa;
    border-radius: 10px;
    float: left;
    position: relative;
	overflow: hidden;
    width: 640px;
    height: 150px;
    margin-bottom: 5px;
    background: #FFF;
}

.slideshow {
	width: 850px;
}

a.prevbtnimg, a.nextbtnimg {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: #d1d1d1;
    background-color: #333333;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 8px;
    float: left;
    margin-top: 60px;
    padding-top: 4px;
    cursor: pointer;
}

a.prevbtnimg {
    margin-right: -5px;
    text-indent: 4px;
    float: left;
}

a.nextbtnimg {
    margin-left: -5px;
    text-indent: 8px;
    float: left;
}

button {
  cursor: pointer;
}

#popUpMsg-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.64);
}

#popUpMsg {
    margin: calc(50% - (40%/2));
    margin-top: 130px;
    margin-left: calc(50% - (40%/2) + 25px);
    width: auto;
    background: white;
    border-radius: 5px;
    position: absolute;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

#popUpMsg .close {
  background: black;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: -6px;
  right: -7px;
}

#popUpMsg .content {
  text-align: center;
  margin-bottom: 10px;
}

#popUpMsg button {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: 0;
  background: lightgray;
  padding: 5px 20px;
  cursor: pointer;

}