<div class="slideshow">
	<a class="prevbtnimg" ng-click="$ctrl.prevImage()"><</a>
	<div class="carousel">
		<ul class="slideshow">
			<li ng-repeat="img in $ctrl.thumbs">
				<img 	ng-src="{{$ctrl.path}}{{img.fileId}}-small.jpg" 
							ng-click="$ctrl.openPopUp(img.fileId)"/>
			</li>
		</ul>
	</div>
	<a class="nextbtnimg" ng-click="$ctrl.nextImage()">></a>

	<div id="popUpMsg-bg" ng-show="$ctrl.showPopUpMsg">
		<div id="popUpMsg">
			<div class="close" ng-click="$ctrl.closePopUp()">x</div>
			<div class="bigimg">{{popUpMsgContent}}</div>
			<img 	ng-src="{{$ctrl.path}}{{img.fileId}}-big.jpg" 
						class="bigimg"
						ng-class="{selected: img.fileId === $ctrl.mainImageUrl}"
						ng-repeat="img in $ctrl.files" 
						ng-click="$ctrl.nextBigImage()"/>
		</div>
	</div>

</div>