<div class="slideshow">
	<a class="prevbtnimg" ng-click="$ctrl.prevImage()">
		<div class="btn-inside left"></div>
	</a>
	<div class="carousel">
		<ul class="thumbs-imgs">
			<li ng-repeat="(key, img) in $ctrl.thumbs">
				<img 	ng-src="{{$ctrl.getSmallImg(key)}}"
							ng-click="$ctrl.openPopUp(key)"/>
			</li>
		</ul>
	</div>
	<a class="nextbtnimg" ng-click="$ctrl.nextImage()">
		<div class="btn-inside right"></div>
	</a>

	<div class="popUpImg-bg" ng-if="$ctrl.showPopUpImg">
		<div class="popUpImg">
			<div class="close" ng-click="$ctrl.closePopUp()">x</div>
			<div class="popUpMsg">{{$ctrl.getTitle()}}</div>
			<img 	class="bigimg"
						ng-src="{{$ctrl.getBigImg()}}" 
						ng-click="$ctrl.nextImage()"/>
		</div>
	</div>
</div>